<a href="https://colab.research.google.com/github/binodrizal/DSIC401/blob/main/hw3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np 
url1="https://raw.githubusercontent.com/gjm112/DSCI401/main/data/flights.csv"
url2="https://raw.githubusercontent.com/gjm112/DSCI401/599e256302926e1d94a441370e995b6a4e97f1ec/data/planes.csv"
data_flight=pd.read_csv(url1)
data_plane=pd.read_csv(url2)
data_plane.columns.values

array(['Unnamed: 0', 'tailnum', 'year', 'type', 'manufacturer', 'model',
       'engines', 'seats', 'speed', 'engine'], dtype=object)

In [ ]:
data_flight.columns.values

array(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour',
       'minute', 'time_hour'], dtype=object)

In [ ]:
data_2ap=data_plane[["tailnum", "year"]].sort_values("year").reset_index(drop=True)
newdata_2ap=data_2ap.rename(columns={"year":"yearMade"})
data_2a=pd.merge(data_flight,newdata_2ap,on="tailnum",how="inner").sort_values("yearMade").reset_index(drop=True)
data_2a.loc[data_2a["yearMade"]==1956.0]["tailnum"]

0     N381AA
1     N381AA
2     N381AA
3     N381AA
4     N381AA
5     N381AA
6     N381AA
7     N381AA
8     N381AA
9     N381AA
10    N381AA
11    N381AA
12    N381AA
13    N381AA
14    N381AA
15    N381AA
16    N381AA
17    N381AA
18    N381AA
19    N381AA
20    N381AA
21    N381AA
Name: tailnum, dtype: object

#solution of 2b:

In [ ]:
data_2b=pd.merge(data_flight,data_plane, on="tailnum", how="inner")
data_2b[(data_2b.origin == 'JFK') | (data_2b.origin == "LGA") | (data_2b.origin == "EWR")].reset_index(drop=True)
df_2b=data_2b[["tailnum","origin"]].groupby("tailnum").sum().reset_index(drop=True)
df_2b[df_2b.columns[0]].count()

3322